In [104]:
import pandas as pd
import numpy as np

In [105]:
df = pd.read_csv("grad_number3.csv")

In [106]:
df.head()

,id,name,email,Grad_Year,name.1,millieCode,Total_Score,Multiple_Attempts_At_Test?,Parent_Name,Parent Email,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_whatsapp_cleaned,student_whatsapp_cleaned,parent_parsed_country,student_parsed_country
0,213,Lina Lina,l.lee23@aus.school,None,American United School of Kuwait,APO-KW-683108,1600.0,True,NaN,None,...,True,NaN,NaN,NaN,NaN,96551764687,NaN,+965 517 64687,NaN,Kuwait
1,239,Scarlet Kim,scarletkim341@gmail.com,2022,St. Joseph's Institution International School ...,IBO-MY-051304,1600.0,True,NaN,None,...,True,NaN,NaN,NaN,NaN,#ERROR!,NaN,NaN,NaN,NaN
2,1509,Sara Sindi,jps0085@jps.edu.sa,2021,Jeddah Private Int'l Schools (JPIS),MLO-SA-000303,1600.0,True,Ghada Gandeel,dodo.gag@gmail.com,...,True,NaN,Ghada,Gandeel,NaN,NaN,NaN,NaN,NaN,NaN
3,1530,Lamar Agabawi,jps0825@jps.edu.sa,2022,Jeddah Private Int'l Schools (JPIS),MLO-SA-000303,1600.0,True,Soad Nazar,suad_nazer@hotmail.com,...,True,NaN,Soad,Nazar,NaN,NaN,NaN,NaN,NaN,NaN
4,1534,KHALID ALJUAID,jps0280@jps.edu.sa,2022,Jeddah Private Int'l Schools (JPIS),MLO-SA-000303,1600.0,True,HUTHLUL ALJUAID,hathloul66@htce.sa,...,True,NaN,HUTHLUL,ALJUAID,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df["Grad_Year"].replace(np.NaN, -1, inplace = True)
df["Grad_Year"].replace("None", -1, inplace = True)

In [108]:
grad_year = []
for i in df["Grad_Year"]:
    grad_year.append(int(i))
df["Grad_Year"] = grad_year

count = 0
for i in df["Grad_Year"]:
    if i == -1:
        count += 1
print(count)

In [109]:
df.insert(4,'Grad_Year_New',"")

In [110]:
email_dict = {}
email_lst = df['email'].to_list()

handle_lst = []
domain_lst = []
for i in range(len(email_lst)):
    email = str(email_lst[i])
    e = email.split('@')
    handle, domain = e[0], e[-1]
    handle_lst.append(handle)
    domain_lst.append(domain)
    
    if domain not in email_dict:
        email_dict[domain] = []
    email_dict[domain].append(handle)

In [111]:
df.insert(3, "Handle", handle_lst)
df.insert(4, "Domain", domain_lst)

In [112]:
df_email = pd.DataFrame.from_dict(email_dict, orient = 'index')
df_email.info()

<class 'pandas.core.frame.DataFrame'>
Index: 274 entries, aus.school to taism.com
Columns: 1896 entries, 0 to 1895
dtypes: object(1896)
memory usage: 4.0+ MB

In [113]:
df_email.to_csv("email_df_number3.csv") #stop here

In [114]:
df.loc[df["Domain"] == "bels.bilkent.com"]

,id,name,email,Handle,Domain,Grad_Year,Grad_Year_New,name.1,millieCode,Total_Score,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_whatsapp_cleaned,student_whatsapp_cleaned,parent_parsed_country,student_parsed_country
2609,688,Ismail Enes Budak,ibudak.24@bels.bilkent.com,ibudak.24,bels.bilkent.com,-1,,Bilkent Erzurum Laboratory School,NaN,0.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
#df_pattern = pd.read_csv("number3_pattern.csv")

In [116]:
df_pattern = df_pattern.rename(columns={"Unnamed: 0": "Domain", "Unnamed: 1": "Pattern"})
df_pattern.head()

,Domain,Pattern,0,1,2,3,4,5,6,7,...,988,989,990,991,992,993,994,995,996,997
0,aus.school,[-2:],l.lee23,a.emera22,y.alqallaf23,n.aloraifan23,j.alqallaf24,s.luhaib23,a.abushiekah24,a.abougoush24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gmail.com,NaN,scarletkim341,kaushikabinod,taiba.61.c,mahamubi24,sarah.albouss.college,reemhanyelsayed,shahdamohdsalah,farisrealmadread,...,sebafoti05,charmainetung,ravi.syaputra2006,eleanorhillwood,lindadeseguragst,degefusamrawit,alimohamedmah17,zander.vanzyl198,hiba.hassan1911,aldhi.bagaswira
2,jps.edu.sa,NaN,jps0085,jps0825,jps0280,jps0555,jps0096,jps0455,jps0610,jps0360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,robcol.k12.tr,[-2:],metisi.23,tufdog.23,cakemr.24,odaani.23,ozdeli.24,karazr.24,ertece.23,unlire.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dhafraschools.com,NaN,468885,579457,579227,468852,579203,579202,546852,579275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
#df_pattern["Pattern"].unique()

In [119]:
df_pattern["Pattern"].replace("x", np.NaN, inplace = True)

In [120]:
first_two = df_pattern.loc[df_pattern["Pattern"] == "[:2]"]
last_two = df_pattern.loc[df_pattern["Pattern"] == "[-2:]"]
first_four = df_pattern.loc[df_pattern["Pattern"] == "[4:]"]
last_four = df_pattern.loc[df_pattern["Pattern"] == "[-4:]"]
middle = df_pattern.loc[df_pattern["Pattern"] == "[-4:-2]"]

In [121]:
new_grad = []

for i in range(len(df["Domain"])):
    # Graduation year lies in first two char
    if df["Domain"][i] in first_two["Domain"].to_list():
        if df["Handle"][i][:2].isnumeric() == True:
            new_grad.append(int("20" + df["Handle"][i][:2]))
        else:
            new_grad.append(df["Grad_Year"][i])
            
    # Graduation year lies in last two char        
    elif df["Domain"][i] in last_two["Domain"].to_list():
        if df["Handle"][i][-2:].isnumeric() == True:
            new_grad.append(int("20" + df["Handle"][i][-2:]))
        else:
            new_grad.append(df["Grad_Year"][i])
            
    # Graduation year lies in first four char          
    elif df["Domain"][i] in first_four["Domain"].to_list():
        if df["Handle"][i][4:].isnumeric() == True:
            new_grad.append(int(df["Handle"][i][4:]))
        else:
            new_grad.append(df["Grad_Year"][i])
    
    # Graduation year lies in last four char  
    elif df["Domain"][i] in last_four["Domain"].to_list():
        if df["Handle"][i][-4:].isnumeric() == True:
            new_grad.append(int(df["Handle"][i][-4:]))
        else:
            new_grad.append(df["Grad_Year"][i])
    
    # Graduation year is the middle char
    elif df["Domain"][i] in middle["Domain"].to_list():
            new_grad.append(int("20" + df["Handle"][i][-4:-2]))
            
    elif df["Domain"][i] == "sherborne.com" or df["Domain"][i] == "wycombeabbey.com":
        if df["Handle"][i][0:2] == "15":
            new_grad.append(2022)
        elif df["Handle"][i][0:2]  == "16":
            new_grad.append(2023)
        elif df["Handle"][i][0:2]  == "17":
            new_grad.append(2024)
            
    else: new_grad.append(df["Grad_Year"][i])

In [122]:
df["Grad_Year_New"] = new_grad

,id,name,email,Handle,Domain,Grad_Year,Grad_Year_New,name.1,millieCode,Total_Score,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_whatsapp_cleaned,student_whatsapp_cleaned,parent_parsed_country,student_parsed_country
26,3612,Angela Joo,16jooa@wycombeabbey.com,16jooa,wycombeabbey.com,2023,2023,Wycombe Abbey,MLO-GB-000498,1550.0,...,True,NaN,Ahyoung,Lee,#ERROR!,#ERROR!,NaN,NaN,NaN,NaN
36,737,Chloe Fangiono,15fangionoc@wycombeabbey.com,15fangionoc,wycombeabbey.com,-1,2022,Wycombe Abbey,MLO-GB-000498,1520.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,1234,Amelia Smith,17smitha@wycombeabbey.com,17smitha,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1470.0,...,True,NaN,Nick,Smith,NaN,447713588578,NaN,+44 7713 588578,NaN,United Kingdom
66,3526,Ellie Yau,16yaue@wycombeabbey.com,16yaue,wycombeabbey.com,2023,2023,Wycombe Abbey,MLO-GB-000498,1470.0,...,True,NaN,Eric,Yau,#ERROR!,+852 5213 6866,NaN,+852 5213 6866,NaN,Hong Kong
78,1463,Isabella Pucci,17puccii@wycombeabbey.com,17puccii,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1450.0,...,True,NaN,Sabrina,De Caro,NaN,972000000000,NaN,NaN,NaN,NaN
142,2436,Francesca Pucci,15puccif@wycombeabbey.com,15puccif,wycombeabbey.com,2021,2022,Wycombe Abbey,MLO-GB-000498,1340.0,...,True,NaN,Sabrina,De Caro,NaN,NaN,NaN,NaN,NaN,NaN
294,1284,Caitlyn Woo,17wooc@wycombeabbey.com,17wooc,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1180.0,...,True,NaN,Sonia,Ming,NaN,85295034610,NaN,+852 9503 4610,NaN,Hong Kong
325,1288,Jade Law,17lawj@wycombeabbey.com,17lawj,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1150.0,...,True,NaN,Randa,Li,NaN,447376090056,NaN,+44 7376 090056,NaN,United Kingdom
366,738,Helen Helen,15kurnytskah@wycombeabbey.com,15kurnytskah,wycombeabbey.com,2022,2022,Wycombe Abbey,MLO-GB-000498,1110.0,...,True,NaN,Kateryna,Kurnytska,NaN,47760432839,NaN,NaN,NaN,NaN
1122,1196,Anna Trusova,16trusovaa@wycombeabbey.com,16trusovaa,wycombeabbey.com,2023,2023,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Alexey,Trusov,NaN,447565079484,NaN,+44 7565 079484,NaN,United Kingdom
1134,1252,Annette Cheah,16cheaha@wycombeabbey.com,16cheaha,wycombeabbey.com,2021,2023,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Stephanie,Cheah,NaN,447445566688,NaN,+44 7445 566688,NaN,United Kingdom
1142,1289,Liza Kashirina,17kashirinal@wycombeabbey.com,17kashirinal,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Elena,Kashirina,NaN,0,NaN,NaN,NaN,NaN
1433,2121,Isabelle Abdulai,16abdulaii@wycombeabbey.com,16abdulaii,wycombeabbey.com,-1,2023,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Nkechi,Abdulai,NaN,972000000000,NaN,NaN,NaN,NaN
1438,2135,Michelle Michelle,17nogaim@wycombeabbey.com,17nogaim,wycombeabbey.com,-1,2024,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Svetlana,Nogai,NaN,447979371140,NaN,+44 7979 371140,NaN,United Kingdom

In [123]:
df["Grad_Year"].unique()
df["Grad_Year_New"].unique()
df.insert(7, "Check", "")

In [124]:
check_lst = []
for i in range(len(df)):
    if df["Grad_Year_New"][i] != df["Grad_Year"][i] or df["Grad_Year_New"][i] == -1:
        check_lst.append("1")
    else:
        check_lst.append("0")

df["Check"] = check_lst

In [125]:
df.loc[df["Domain"] == "wycombeabbey.com"]

,id,name,email,Handle,Domain,Grad_Year,Grad_Year_New,Check,name.1,millieCode,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_whatsapp_cleaned,student_whatsapp_cleaned,parent_parsed_country,student_parsed_country
26,3612,Angela Joo,16jooa@wycombeabbey.com,16jooa,wycombeabbey.com,2023,2023,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Ahyoung,Lee,#ERROR!,#ERROR!,NaN,NaN,NaN,NaN
36,737,Chloe Fangiono,15fangionoc@wycombeabbey.com,15fangionoc,wycombeabbey.com,-1,2022,1,Wycombe Abbey,MLO-GB-000498,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,1234,Amelia Smith,17smitha@wycombeabbey.com,17smitha,wycombeabbey.com,2024,2024,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Nick,Smith,NaN,447713588578,NaN,+44 7713 588578,NaN,United Kingdom
66,3526,Ellie Yau,16yaue@wycombeabbey.com,16yaue,wycombeabbey.com,2023,2023,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Eric,Yau,#ERROR!,+852 5213 6866,NaN,+852 5213 6866,NaN,Hong Kong
78,1463,Isabella Pucci,17puccii@wycombeabbey.com,17puccii,wycombeabbey.com,2024,2024,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Sabrina,De Caro,NaN,972000000000,NaN,NaN,NaN,NaN
142,2436,Francesca Pucci,15puccif@wycombeabbey.com,15puccif,wycombeabbey.com,2021,2022,1,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Sabrina,De Caro,NaN,NaN,NaN,NaN,NaN,NaN
294,1284,Caitlyn Woo,17wooc@wycombeabbey.com,17wooc,wycombeabbey.com,2024,2024,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Sonia,Ming,NaN,85295034610,NaN,+852 9503 4610,NaN,Hong Kong
325,1288,Jade Law,17lawj@wycombeabbey.com,17lawj,wycombeabbey.com,2024,2024,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Randa,Li,NaN,447376090056,NaN,+44 7376 090056,NaN,United Kingdom
366,738,Helen Helen,15kurnytskah@wycombeabbey.com,15kurnytskah,wycombeabbey.com,2022,2022,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Kateryna,Kurnytska,NaN,47760432839,NaN,NaN,NaN,NaN
1122,1196,Anna Trusova,16trusovaa@wycombeabbey.com,16trusovaa,wycombeabbey.com,2023,2023,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Alexey,Trusov,NaN,447565079484,NaN,+44 7565 079484,NaN,United Kingdom
1134,1252,Annette Cheah,16cheaha@wycombeabbey.com,16cheaha,wycombeabbey.com,2021,2023,1,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Stephanie,Cheah,NaN,447445566688,NaN,+44 7445 566688,NaN,United Kingdom
1142,1289,Liza Kashirina,17kashirinal@wycombeabbey.com,17kashirinal,wycombeabbey.com,2024,2024,0,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Elena,Kashirina,NaN,0,NaN,NaN,NaN,NaN
1433,2121,Isabelle Abdulai,16abdulaii@wycombeabbey.com,16abdulaii,wycombeabbey.com,-1,2023,1,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Nkechi,Abdulai,NaN,972000000000,NaN,NaN,NaN,NaN
1438,2135,Michelle Michelle,17nogaim@wycombeabbey.com,17nogaim,wycombeabbey.com,-1,2024,1,Wycombe Abbey,MLO-GB-000498,...,True,NaN,Svetlana,Nogai,NaN,447979371140,NaN,+44 7979 371140,NaN,United Kingdom

In [126]:
df.to_csv("Number3_Check.csv")