In [204]:
import pandas as pd
import numpy as np

In [205]:
df = pd.read_excel("grad_year.xlsx")

In [206]:
df.head()

,id,name,email,Grad_Year,name.1,millieCode,Total_Score,Multiple_Attempts_At_Test?,Parent_Name,Parent Email,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_parsed_country,student_parsed_country,parent_whatsapp_cleaned,student_whatsapp_cleaned
0,2900,Thuy Tien Ha,tinkaha05@gmail.com,2023,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,1500.0,True,Thi Thuy Ha Ho,hothithuyha67@gmail.com,...,True,NaN,Thi Thuy Ha,Ho,NaN,+48 665 269 569,NaN,PL,NaN,+48 665 269 569
1,2916,Jakub Strzelczyk,jakubstrzelczyk04@gmail.com,2022,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,1450.0,True,Agnieszka Strzelczyk,aga.strzelczyk@wp.pl,...,True,NaN,Agnieszka,Strzelczyk,NaN,+48 506 720 450,NaN,PL,NaN,+48 506 720 450
2,2847,Oliwia CieÅ›lak,oliwiathao2016@gmail.com,2023,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,1440.0,False,Anh Trinh Thi Kim,handang919@gmail.com,...,True,NaN,Anh,Trinh Thi Kim,NaN,48739599243,NaN,PL,NaN,+48 739 599 243
3,2896,Julia Golebiewska,julia.golebiewska1203@gmail.com,2023,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,1330.0,True,Malgorzata Skubiszak,julia.golebiewska1203@gmail.com,...,True,NaN,Malgorzata,Skubiszak,NaN,+48 601 690 696,NaN,PL,NaN,+48 601 690 696
4,2914,Alicja Cichocka,alicjacichocka04@gmail.com,2023,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,1320.0,False,Tomasz Cichocki,tomasz.cichocki@gmail.com,...,True,NaN,Tomasz,Cichocki,NaN,+48 731 604 161,NaN,PL,NaN,+48 731 604 161

In [207]:
df["Grad_Year"].replace(np.NaN, -1, inplace = True)
df["Grad_Year"].replace("None", -1, inplace = True)

count = 0
for i in df["Grad_Year"]:
    if i == -1:
        count += 1
print(count)

In [208]:
df.insert(4,'Grad_Year_New',"")

In [209]:
email_dict = {}
email_lst = df['email'].to_list()

handle_lst = []
domain_lst = []
for i in range(len(email_lst)):
    email = str(email_lst[i])
    e = email.split('@')
    handle, domain = e[0], e[-1]
    handle_lst.append(handle)
    domain_lst.append(domain)
    
    if domain not in email_dict:
        email_dict[domain] = []
    email_dict[domain].append(handle)

In [210]:
df.insert(3, "Handle", handle_lst)
df.insert(4, "Domain", domain_lst)

In [211]:
df_email = pd.DataFrame.from_dict(email_dict, orient = 'index')
df_email.head()

,0,1,2,3,4,5,6,7,8,9,...,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893
gmail.com,tinkaha05,jakubstrzelczyk04,oliwiathao2016,julia.golebiewska1203,alicjacichocka04,mkania2006,tarkowska.antonina,eambrzyk,fidoalek,wiktoriagorska.pl,...,cychanmelissa,daflight540,abhisri.dash,mariam.alattar05,nicole.aboudaher7,6263sadaf,bhumimotiani,nabihanajam29,norahannalex.05,firedemisey
spychalski.pl,max,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
outlook.com,do_halamalis,rashed3176ahmad,rashed3176ahmed,fatmasultan7070,omaralmasry2006,alisha-taibek,farah.m.shawareb,turquolicious,imrwaa,cdelolmo,...,None,None,None,None,None,None,None,None,None,None
wp.pl,izusia.dziekan,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
abaoman.org,gkorisepati1,isharma1,anadamal1,zahmed2,ktiriveedhi1,agiridhar1,lalmaskari1,iakomolede1,vmanivannan1,mwadidi1,...,None,None,None,None,None,None,None,None,None,None

In [212]:
#df_email.to_csv("email_df.csv") #stop here

In [213]:
df_pattern = pd.read_csv("grad_year_pattern.csv")

In [214]:
df_pattern = df_pattern.rename(columns={"Unnamed: 0": "Domain", "Unnamed: 1": "Pattern"})
df_pattern.head()

,Domain,Pattern,0,1,2,3,4,5,6,7,...,988,989,990,991,992,993,994,995,996,997
0,gmail.com,x,tinkaha05,jakubstrzelczyk04,oliwiathao2016,julia.golebiewska1203,alicjacichocka04,mkania2006,tarkowska.antonina,eambrzyk,...,isiah.gossaye,lieselisimbi222,willaishimwe8,tetagatete123,samazanoella31,kabonu12,hara.moraitaki,houralafi,bdralshatti2k4,saalajeel
1,spychalski.pl,x,max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,outlook.com,x,do_halamalis,rashed3176ahmad,rashed3176ahmed,fatmasultan7070,omaralmasry2006,alisha-taibek,farah.m.shawareb,turquolicious,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,wp.pl,x,izusia.dziekan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abaoman.org,x,gkorisepati1,isharma1,anadamal1,zahmed2,ktiriveedhi1,agiridhar1,lalmaskari1,iakomolede1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
df_pattern["Pattern"].unique()

array(['x', '[:2]', '[-2:]', '[-4:-2]', '07 = 2022, 08 = 2023', '[-4:]',
       '[:4]', '16 = 2023'], dtype=object)

In [216]:
df_pattern["Pattern"].replace("x", np.NaN, inplace = True)

In [217]:
first_two = df_pattern.loc[df_pattern["Pattern"] == "[:2]"]
last_two = df_pattern.loc[df_pattern["Pattern"] == "[-2:]"]
first_four = df_pattern.loc[df_pattern["Pattern"] == "[4:]"]
last_four = df_pattern.loc[df_pattern["Pattern"] == "[-4:]"]
middle = df_pattern.loc[df_pattern["Pattern"] == "[-4:-2]"]

In [218]:
new_grad = []

for i in range(len(df["Domain"])):
    # Graduation year lies in first two char
    if df["Domain"][i] in first_two["Domain"].to_list():
        if df["Handle"][i][:2].isnumeric() == True:
            new_grad.append(int("20" + df["Handle"][i][:2]))
        else:
            new_grad.append(df["Grad_Year"][i])
            
    # Graduation year lies in last two char        
    elif df["Domain"][i] in last_two["Domain"].to_list():
        if df["Handle"][i][-2:].isnumeric() == True:
            new_grad.append(int("20" + df["Handle"][i][-2:]))
        else:
            new_grad.append(df["Grad_Year"][i])
            
    # Graduation year lies in first four char          
    elif df["Domain"][i] in first_four["Domain"].to_list():
        if df["Handle"][i][4:].isnumeric() == True:
            new_grad.append(int(df["Handle"][i][4:]))
        else:
            new_grad.append(df["Grad_Year"][i])
    
    # Graduation year lies in last four char  
    elif df["Domain"][i] in last_four["Domain"].to_list():
        if df["Handle"][i][-4:].isnumeric() == True:
            new_grad.append(int(df["Handle"][i][-4:]))
        else:
            new_grad.append(df["Grad_Year"][i])
    
    # Graduation year is the middle char
    elif df["Domain"][i] in middle["Domain"].to_list():
            new_grad.append(int("20" + df["Handle"][i][-4:-2]))
            
    elif df["Domain"][i] == "sherborne.com" or df["Domain"][i] == "wycombeabbey.com":
        if df["Handle"][i][0:2] == "15":
            new_grad.append(2022)
        elif df["Handle"][i][0:2]  == "16":
            new_grad.append(2023)
        elif df["Handle"][i][0:2]  == "17":
            new_grad.append(2024)
            
    else: new_grad.append(df["Grad_Year"][i])

In [219]:
df["Grad_Year_New"] = new_grad

In [220]:
df.loc[df["Domain"] == "wycombeabbey.com"]

,id,name,email,Handle,Domain,Grad_Year,Grad_Year_New,name.1,millieCode,Total_Score,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_parsed_country,student_parsed_country,parent_whatsapp_cleaned,student_whatsapp_cleaned
3231,3612,Angela Joo,16jooa@wycombeabbey.com,16jooa,wycombeabbey.com,2023,2023,Wycombe Abbey,MLO-GB-000498,1550.0,...,True,NaN,Ahyoung,Lee,#ERROR!,#ERROR!,NaN,NaN,NaN,NaN
3232,737,Chloe Fangiono,15fangionoc@wycombeabbey.com,15fangionoc,wycombeabbey.com,-1,2022,Wycombe Abbey,MLO-GB-000498,1520.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3233,1234,Amelia Smith,17smitha@wycombeabbey.com,17smitha,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1470.0,...,True,NaN,Nick,Smith,NaN,447713588578,NaN,GB,NaN,+44 7713 588578
3234,3526,Ellie Yau,16yaue@wycombeabbey.com,16yaue,wycombeabbey.com,2023,2023,Wycombe Abbey,MLO-GB-000498,1470.0,...,True,NaN,Eric,Yau,#ERROR!,+852 5213 6866,NaN,HK,NaN,+852 5213 6866
3235,1463,Isabella Pucci,17puccii@wycombeabbey.com,17puccii,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1450.0,...,True,NaN,Sabrina,De Caro,NaN,972000000000,NaN,NaN,NaN,NaN
3236,2436,Francesca Pucci,15puccif@wycombeabbey.com,15puccif,wycombeabbey.com,2021,2022,Wycombe Abbey,MLO-GB-000498,1340.0,...,True,NaN,Sabrina,De Caro,NaN,NaN,NaN,NaN,NaN,NaN
3237,1284,Caitlyn Woo,17wooc@wycombeabbey.com,17wooc,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1180.0,...,True,NaN,Sonia,Ming,NaN,85295034610,NaN,HK,NaN,+852 9503 4610
3238,1288,Jade Law,17lawj@wycombeabbey.com,17lawj,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,1150.0,...,True,NaN,Randa,Li,NaN,447376090056,NaN,GB,NaN,+44 7376 090056
3239,738,Helen Helen,15kurnytskah@wycombeabbey.com,15kurnytskah,wycombeabbey.com,2022,2022,Wycombe Abbey,MLO-GB-000498,1110.0,...,True,NaN,Kateryna,Kurnytska,NaN,47760432839,NaN,NaN,NaN,NaN
3242,1196,Anna Trusova,16trusovaa@wycombeabbey.com,16trusovaa,wycombeabbey.com,2023,2023,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Alexey,Trusov,NaN,447565079484,NaN,GB,NaN,+44 7565 079484
3243,1252,Annette Cheah,16cheaha@wycombeabbey.com,16cheaha,wycombeabbey.com,2021,2023,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Stephanie,Cheah,NaN,447445566688,NaN,GB,NaN,+44 7445 566688
3244,1289,Liza Kashirina,17kashirinal@wycombeabbey.com,17kashirinal,wycombeabbey.com,2024,2024,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Elena,Kashirina,NaN,0,NaN,NaN,NaN,NaN
3247,2121,Isabelle Abdulai,16abdulaii@wycombeabbey.com,16abdulaii,wycombeabbey.com,-1,2023,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Nkechi,Abdulai,NaN,972000000000,NaN,NaN,NaN,NaN
3249,2135,Michelle Michelle,17nogaim@wycombeabbey.com,17nogaim,wycombeabbey.com,-1,2024,Wycombe Abbey,MLO-GB-000498,0.0,...,True,NaN,Svetlana,Nogai,NaN,447979371140,NaN,GB,NaN,+44 7979 371140

In [221]:
df["Grad_Year"].unique()
df["Grad_Year_New"].unique()

array([2023, 2022, 2024, 2021, 2025,   -1, 2020])

In [222]:
check_lst = []
for i in range(len(df)):
    if df["Grad_Year_New"][i] != df["Grad_Year"][i] or df["Grad_Year_New"][i] == -1:
        check_lst.append("1")
    else:
        check_lst.append("0")

df.insert(7, "Check", check_lst)

In [223]:
df.head()

,id,name,email,Handle,Domain,Grad_Year,Grad_Year_New,Check,name.1,millieCode,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_parsed_country,student_parsed_country,parent_whatsapp_cleaned,student_whatsapp_cleaned
0,2900,Thuy Tien Ha,tinkaha05@gmail.com,tinkaha05,gmail.com,2023,2023,0,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,...,True,NaN,Thi Thuy Ha,Ho,NaN,+48 665 269 569,NaN,PL,NaN,+48 665 269 569
1,2916,Jakub Strzelczyk,jakubstrzelczyk04@gmail.com,jakubstrzelczyk04,gmail.com,2022,2022,0,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,...,True,NaN,Agnieszka,Strzelczyk,NaN,+48 506 720 450,NaN,PL,NaN,+48 506 720 450
2,2847,Oliwia CieÅ›lak,oliwiathao2016@gmail.com,oliwiathao2016,gmail.com,2023,2023,0,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,...,True,NaN,Anh,Trinh Thi Kim,NaN,48739599243,NaN,PL,NaN,+48 739 599 243
3,2896,Julia Golebiewska,julia.golebiewska1203@gmail.com,julia.golebiewska1203,gmail.com,2023,2023,0,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,...,True,NaN,Malgorzata,Skubiszak,NaN,+48 601 690 696,NaN,PL,NaN,+48 601 690 696
4,2914,Alicja Cichocka,alicjacichocka04@gmail.com,alicjacichocka04,gmail.com,2023,2023,0,"33 Liceum im. M. Kopernika, Warszawa",IBO-PL-000703,...,True,NaN,Tomasz,Cichocki,NaN,+48 731 604 161,NaN,PL,NaN,+48 731 604 161

In [200]:
df.loc[df["Domain"] == "bayanschool.edu.bh"]

,id,name,email,Handle,Domain,Grad_Year,Grad_Year_New,Check,name.1,millieCode,...,Matched By New Millie Code?,Matched By Old Millie Code?,parent_name1,parent_name2,parent_whatsapp,student_whatsapp,parent_parsed_country,student_parsed_country,parent_whatsapp_cleaned,student_whatsapp_cleaned
802,2783,Ali Al Jeshi,a.aljishi.2396@bayanschool.edu.bh,a.aljishi.2396,bayanschool.edu.bh,2023,2023,0,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,Mona,Al Hamad,NaN,+973 3211 3364,NaN,BH,NaN,+973 3211 3364
804,263,Ali Al Maraghi,a.almaraghi.2375@bayanschool.edu.bh,a.almaraghi.2375,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,2725,Manaf AlHaddad,m.alhaddad.2222@bayanschool.edu.bh,m.alhaddad.2222,bayanschool.edu.bh,2022,2022,0,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,Osama,AlHaddad,NaN,+973 3432 1129,NaN,BH,NaN,+973 3432 1129
806,311,Leyana Al Dajani,l.aldajani.2349@bayanschool.edu.bh,l.aldajani.2349,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
807,388,Ayah Al Daaysi,a.aldaaysi.2494@bayanschool.edu.bh,a.aldaaysi.2494,bayanschool.edu.bh,-1,2024,1,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
808,2720,MOHAMED BIN KHALIFA ALGHATAM,m.alghattam.2370@bayanschool.edu.bh,m.alghattam.2370,bayanschool.edu.bh,2023,2023,0,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,KHALIFA BIN AHMED,ALGHATAM,NaN,+973 3214 1461,NaN,BH,NaN,+973 3214 1461
809,2723,Arwa Al Amadi,a.alammadi.2301@bayanschool.edu.bh,a.alammadi.2301,bayanschool.edu.bh,2023,2023,0,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,Ebtisam,Maroof,NaN,+973 3968 0459,NaN,BH,NaN,+973 3968 0459
811,2767,Mada Alsaati,m.alsaati.2360@bayanschool.edu.bh,m.alsaati.2360,bayanschool.edu.bh,2023,2023,0,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,Suzan,Safa,NaN,+973 3699 3500,NaN,BH,NaN,+973 3699 3500
812,2793,Abdulla Buhammood,a.buhammood.2392@bayanschool.edu.bh,a.buhammood.2392,bayanschool.edu.bh,2023,2023,0,Bahrain Bayan School,IBO-BH-000707,...,True,NaN,Duaa,Sharafi,NaN,+973 3939 1166,NaN,BH,NaN,+973 3939 1166
813,462,Yara Bin Thani,y.binthani.2366@bayanschool.edu.bh,y.binthani.2366,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
814,268,Sharifa Al Mannai,s.almannai.2345@bayanschool.edu.bh,s.almannai.2345,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
815,307,Mariam Alalawi,m.alalawi.2348@bayanschool.edu.bh,m.alalawi.2348,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
816,535,Khalifa Al Khalifa,k.alkhalifa.2334@bayanschool.edu.bh,k.alkhalifa.2334,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
817,256,Al Hanouf Al Mubarak,a.almubarak.2372@bayanschool.edu.bh,a.almubarak.2372,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
818,305,Abdulla Aldhawadi,a.althawadi.2321@bayanschool.edu.bh,a.althawadi.2321,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
819,260,Shaikha Majed,s.almajed.2340@bayanschool.edu.bh,s.almajed.2340,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
820,580,Hamza Shahzad,h.shazad.2225@bayanschool.edu.bh,h.shazad.2225,bayanschool.edu.bh,-1,2022,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
822,371,Laith Algosaibi,l.algosaibi.2233@bayanschool.edu.bh,l.algosaibi.2233,bayanschool.edu.bh,-1,2022,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
823,326,Mohamed Alromaihi,m.alromaihi.2363@bayanschool.edu.bh,m.alromaihi.2363,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825,464,Mohammed Alghanem,m.alghanem.2326@bayanschool.edu.bh,m.alghanem.2326,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,532,Rashid Alhajri,r.aljumairi.2279@bayanschool.edu.bh,r.aljumairi.2279,bayanschool.edu.bh,-1,2022,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,536,Abdullrhman Alghayesh,a.alghaysh.2300@bayanschool.edu.bh,a.alghaysh.2300,bayanschool.edu.bh,-1,2023,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,635,Yousif Haqiqi,Y.Haqiqi.2190@bayanschool.edu.bh,Y.Haqiqi.2190,bayanschool.edu.bh,-1,2021,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,709,Bandar Alkhayyer,B.Alkhayyer.2212@bayanschool.edu.bh,B.Alkhayyer.2212,bayanschool.edu.bh,-1,2022,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,843,Hiba Abdulghaffar,h.abdulghaffar.2210@bayanschool.edu.bh,h.abdulghaffar.2210,bayanschool.edu.bh,-1,2022,1,Bahrain Bayan School,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832,2367,Yousif Altoorani,y.altoorani.2236@bayanschool.edu.bh,y.altoorani.2236,bayanschool.edu.bh,2022,2022,0,Bahrain Bayan School,NaN,...,False,NaN,Abeer,Baqer,NaN,NaN,NaN,NaN,NaN,NaN
834,2383,Bayan Al Mahmeed,b.almahmeed.2227@bayanschool.edu.bh,b.almahmeed.2227,bayanschool.edu.bh,2022,2022,0,Bahrain Bayan School,NaN,...,False,NaN,Naeema,Budhaish,NaN,NaN,NaN,NaN,NaN,NaN
3609,284,Khalifa Al Khalifa,K.alkhalifa.2334@bayanschool.edu.bh,K.alkhalifa.2334,bayanschool.edu.bh,-1,2023,1,NaN,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3610,286,Yara Bin Thani,Y.BinThani.2366@bayanschool.edu.bh,Y.BinThani.2366,bayanschool.edu.bh,-1,2023,1,NaN,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3622,335,Hamza Shahzad,h.shazhad.2225@bayanschool.edu.bh,h.shazhad.2225,bayanschool.edu.bh,-1,2022,1,NaN,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3634,386,Mohammed AlGhanem,M.AlGhanem.2326@bayanschool.edu.bh,M.AlGhanem.2326,bayanschool.edu.bh,-1,2023,1,NaN,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
df.to_csv("Grad_Year_Check.csv")